.navbar {
    background-color: rgba(41, 44, 46, 0.7);
}
.parallax-one {
    min-height: 700px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

  .parallax-content-one{
    border: 0px black solid;
    position: absolute;
    border-radius: 50px;
    top: 50%;
    left: 50%;
    min-height: 100px; 
    min-width: 700px; 
    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: middle;
    color: white;
    padding-top: 10px;
    background-color: rgb(40, 38, 38, 0.5);
}

#one{
    background-image: url("/img/1.jpg");
    opacity: 0.7;
}

#two{
    background-image: url("/img/2.jpg");
    opacity: 0.7;
}

#three{
    background-image: url("/img/3.jpg");
    opacity: 0.7;
}

.parallax-two {
    position: relative;
    min-height: 400px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }

.parallax-content-two{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: middle;
    color: white;
    padding-bottom: 0px;
}

#text-1 {
    text-align: center;
    padding: 30px;
}

#text-2{
    background-color: rgba(28, 26, 36, 0.95);
    height: 200px;
    color: aliceblue;
    display: flex;
    align-items: center;
    padding-left: 40px;
}

.parallax-content-three{
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    vertical-align: middle;
    color: white;
    padding-bottom: 0px;
}

.parallax-three {
    position: relative;
    height: 800px; 
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }


